body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  background-color: #90FF6A;
  color: black;
  /* För textfärg, justera efter behov */
  margin: 0;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
